# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Brett Slaski
	email = brett@thatconference.com
# mbw-key
	signingkey = 73F73621EF7BC53A
[core]
	excludesfile = ~/.gitignore
[color]
	ui = true
[credential]
	helper = osxkeychain
[commit]
	gpgsign = true
[pull]
	rebase = false
